<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Meus Carros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <!-- Navbar -->
  <ion-row class="navbar ion-margin-bottom ion-align-items-center ion-justify-content-around">
    <ion-col size="2" class="nav-item">
      <a routerLink="/home" class="nav-link">
        <ion-icon name="home" size="large"></ion-icon>
        <p>Home</p>
      </a>
    </ion-col>
    <ion-col size="2" class="nav-item">
      <a routerLink="/cadastrar-carro" class="nav-link">
        <ion-icon name="car" size="large"></ion-icon>
        <p>Cadastrar</p>
      </a>
    </ion-col>
    <ion-col size="2" class="nav-item">
      <a routerLink="/meus-carros" class="nav-link">
        <ion-icon name="list" size="large"></ion-icon>
        <p>Meus Carros</p>
      </a>
    </ion-col>
    <ion-col size="2" class="nav-item">
      <a routerLink="/meuperfil" class="nav-link">
        <ion-icon name="person" size="large"></ion-icon>
        <p>Perfil</p>
      </a>
    </ion-col>
    <ion-col size="2" class="nav-item">
      <a (click)="logout()" class="nav-link">
        <ion-icon name="log-out" size="large"></ion-icon>
        <p>Sair</p>
      </a>
    </ion-col>    
  </ion-row>

  <!-- Título da Página -->
  <div class="ion-text-center ion-margin-bottom">
    <h1>Meus Carros</h1>
  </div>

  <!-- Conteúdo dos Carros -->
  <div class="carros-container">
    <ion-grid *ngIf="!erroCarregamento">
      <ion-row>
        <ion-col size="12" size-md="6" size-lg="4" *ngFor="let carro of carros">
          <div class="carro-card ion-padding ion-margin-bottom">
            <h2>{{ carro.marca }} {{ carro.modelo }} ({{ carro.ano }})</h2>
            <p>Cor: {{ carro.cor }}</p>
            <p class="preco">Preço: R$ {{ carro.preco }}</p>
            <div class="img-container">
              <ion-img *ngIf="carro.foto" [src]="carro.foto"></ion-img>
              <p class="no-foto" *ngIf="!carro.foto">Sem foto disponível</p>
            </div>
            <div class="buttons">
              <ion-button (click)="editarCarro(carro.id)" color="primary" expand="block">Editar</ion-button>
              <ion-button (click)="removerCarro(carro.id)" color="danger" expand="block">Remover</ion-button>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <div class="ion-text-center ion-margin" *ngIf="erroCarregamento">
      <p>{{ erroCarregamento }}</p>
    </div>
    <p class="ion-text-center no-carros" *ngIf="!carros.length && !erroCarregamento">Nenhum carro disponível no momento.</p>
  </div>

</ion-content>