<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Meu Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- Navbar -->
  <ion-row class="navbar ion-margin-bottom ion-align-items-center ion-justify-content-around">
    <ion-col size="2" class="nav-item">
      <a routerLink="/home" class="nav-link">
        <ion-icon name="home" size="large"></ion-icon>
        <p>Home</p>
      </a>
    </ion-col>
    <ion-col size="2" class="nav-item">
      <a routerLink="/cadastrar-carro" class="nav-link">
        <ion-icon name="car" size="large"></ion-icon>
        <p>Cadastrar</p>
      </a>
    </ion-col>
    <ion-col size="2" class="nav-item">
      <a routerLink="/listagem" class="nav-link">
        <ion-icon name="list" size="large"></ion-icon>
        <p>Meus Carros</p>
      </a>
    </ion-col>
    <ion-col size="2" class="nav-item">
      <a routerLink="/perfil" class="nav-link">
        <ion-icon name="person" size="large"></ion-icon>
        <p>Perfil</p>
      </a>
    </ion-col>
    <ion-col size="2" class="nav-item">
      <a routerLink="/logout" class="nav-link">
        <ion-icon name="log-out" size="large"></ion-icon>
        <p>Sair</p>
      </a>
    </ion-col>
  </ion-row>

  <!-- Perfil Container -->
  <div class="perfil-container" *ngIf="profile">
    <h1>Perfil de {{ profile.username }}</h1>

    <div class="foto-perfil">
      <img *ngIf="profile.foto; else inicial" [src]="getProfileImageUrl(profile.foto)" alt="Foto de Perfil">
      <ng-template #inicial>
        <span class="inicial">{{ profile.first_name?.charAt(0) || profile.username?.charAt(0) }}</span>
      </ng-template>
    </div>

    <p><strong>Nome:</strong> {{ profile.first_name }} {{ profile.last_name }}</p>
    <p><strong>E-mail:</strong> {{ profile.email }}</p>

    <p *ngIf="profile.date_joined">
      <strong>Data de Cadastro:</strong> {{ profile.date_joined }}
    </p>    

    <ion-button expand="block" fill="outline" routerLink="/alterar-senha">Alterar Senha</ion-button>
    <ion-button expand="block" (click)="editarPerfil()">Editar Perfil</ion-button>
  </div>
</ion-content>
