<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Editar Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="perfil-container">
    <h1>Editar Perfil</h1>

    <!-- Foto de perfil -->
    <div class="foto-perfil">
      <img [src]="profileForm.get('foto')?.value ? getProfileImageUrl(profileForm.get('foto')?.value) : 'https://via.placeholder.com/120'" alt="Foto de Perfil">
    </div>

    <!-- Formulário de edição -->
    <form [formGroup]="profileForm" (ngSubmit)="onSave()" enctype="multipart/form-data">
      <ion-item lines="inset">
        <ion-label position="floating">Nome</ion-label>
        <ion-input type="text" formControlName="first_name"></ion-input>
      </ion-item>

      <ion-item lines="inset">
        <ion-label position="floating">Sobrenome</ion-label>
        <ion-input type="text" formControlName="last_name"></ion-input>
      </ion-item>

      <ion-item lines="inset">
        <ion-label position="floating">E-mail</ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
      </ion-item>

      <div class="file-input-container">
        <label for="file-upload" class="file-label">Modificar Foto:</label>
        <input id="file-upload" type="file" (change)="onFileChange($event)" />
      </div>

      <ion-item lines="inset">
        <ion-label position="floating">CPF</ion-label>
        <ion-input type="text" formControlName="cpf"></ion-input>
      </ion-item>

      <ion-item lines="inset">
        <ion-label position="floating">Data de Nascimento</ion-label>
        <ion-input type="date" formControlName="data_nascimento"></ion-input>
      </ion-item>

      <ion-item lines="inset">
        <ion-label position="floating">Telefone</ion-label>
        <ion-input type="text" formControlName="telefone"></ion-input>
      </ion-item>

      <ion-button expand="full" type="submit" [disabled]="profileForm.invalid">Salvar Alterações</ion-button>

      <!-- Exibição de erros -->
      <ul class="error-list" *ngIf="profileForm.errors && profileForm.touched">
        <li *ngFor="let error of getFormErrors()">{{ error }}</li>
      </ul>
    </form>
  </div>
</ion-content>
