@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

ion-content {
  --background: #f4f6f8; /* Azul muito claro */
  padding: 16px;
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #0b3d91; /* Azul escuro */
  font-weight: 700;
  text-align: center;
}

ion-item {
  --background: white;
  --padding-start: 16px;
  --padding-end: 16px;
  margin: 12px 0;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.rounded-input ion-label {
  font-size: 14px;
  color: #0b3d91; /* Azul escuro */
}

.rounded-input ion-input,
.rounded-input ion-select,
.rounded-input ion-textarea {
  font-size: 16px;
  padding: 12px;
  color: #333; /* Cor escura para garantir legibilidade */
}

.file-input-wrapper {
  margin-top: 8px;
  display: flex;
  align-items: center;
}

.file-input-wrapper input[type="file"] {
  background-color: #f8f9fa;
  border: 1px solid #d1d9e6;
  border-radius: 8px;
  padding: 8px 12px;
  color: #333; /* Cor escura para o texto do input */
}

.button-group {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

ion-button {
  border-radius: 8px;
  --box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

ion-button[color="primary"] {
  --background: #0b3d91; /* Azul escuro */
  --background-hover: #072b61;
  color: white; /* Texto em branco para contraste */
}

ion-button[color="light"] {
  --background: #b0c4de; /* Azul médio */
  --background-hover: #91aac3;
  color: #0b3d91; /* Azul escuro */
}
