.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
} 
.cadastro-container {
    background-color: #ffffff;
    padding: 40px 30px;
    border-radius: 12px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
    width: 360px;
    max-width: 100%;
    text-align: center;
}
.profile-img {
    margin-bottom: 20px;
}

.profile-img ion-img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
}  